importing necessary libraries for calculations

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
!pip install scanpy 
import scanpy as sc

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scanpy in /usr/local/lib/python3.7/dist-packages (1.9.1)
Requirement already satisfied: statsmodels>=0.10.0rc2 in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.10.2)
Requirement already satisfied: umap-learn>=0.3.10 in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.5.3)
Requirement already satisfied: session-info in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.0.0)
Requirement already satisfied: matplotlib>=3.4 in /usr/local/lib/python3.7/dist-packages (from scanpy) (3.5.2)
Requirement already satisfied: numpy>=1.17.0 in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.21.6)
Requirement already satisfied: natsort in /usr/local/lib/python3.7/dist-packages (from scanpy) (5.5.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.11.2)
Requirement already satisfied: scipy>=1.4 in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.4.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.1.0)
Requirement already satisfied: numba>=0.41.0 in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.51.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from scanpy) (4.64.0)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.3.5)
Requirement already satisfied: networkx>=2.3 in /usr/local/lib/python3.7/dist-packages (from scanpy) (2.6.3)
Requirement already satisfied: importlib_metadata>=0.7 in /usr/local/lib/python3.7/dist-packages (from scanpy) (4.11.4)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.0.2)
Requirement already satisfied: anndata>=0.7.4 in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.8.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from scanpy) (21.3)
Requirement already satisfied: h5py>=3 in /usr/local/lib/python3.7/dist-packages (from scanpy) (3.1.0)
Requirement already satisfied: patsy in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.5.2)
Requirement already satisfied: typing_extensions in /usr/local/lib/python3.7/dist-packages (from anndata>=0.7.4->scanpy) (4.1.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=3->scanpy) (1.5.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib_metadata>=0.7->scanpy) (3.8.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (7.1.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (1.4.3)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (4.33.3)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.41.0->scanpy) (0.34.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba>=0.41.0->scanpy) (57.4.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->scanpy) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7->matplotlib>=3.4->scanpy) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22->scanpy) (3.1.0)
Requirement already satisfied: pynndescent>=0.5 in /usr/local/lib/python3.7/dist-packages (from umap-learn>=0.3.10->scanpy) (0.5.7)
Requirement already satisfied: stdlib-list in /usr/local/lib/python3.7/dist-packages (from session-info->scanpy) (0.8.0)

In [ ]:
!pip install gseapy
import gseapy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gseapy in /usr/local/lib/python3.7/dist-packages (0.10.8)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from gseapy) (1.3.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gseapy) (2.23.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from gseapy) (1.1.0)
Requirement already satisfied: bioservices in /usr/local/lib/python3.7/dist-packages (from gseapy) (1.9.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from gseapy) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from gseapy) (3.5.2)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from gseapy) (1.21.6)
Requirement already satisfied: suds-community in /usr/local/lib/python3.7/dist-packages (from bioservices->gseapy) (1.1.2)
Requirement already satisfied: requests-cache in /usr/local/lib/python3.7/dist-packages (from bioservices->gseapy) (0.9.4)
Requirement already satisfied: colorlog in /usr/local/lib/python3.7/dist-packages (from bioservices->gseapy) (6.6.0)
Requirement already satisfied: appdirs in /usr/local/lib/python3.7/dist-packages (from bioservices->gseapy) (1.4.4)
Requirement already satisfied: grequests in /usr/local/lib/python3.7/dist-packages (from bioservices->gseapy) (0.6.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bioservices->gseapy) (4.6.3)
Requirement already satisfied: xmltodict in /usr/local/lib/python3.7/dist-packages (from bioservices->gseapy) (0.13.0)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from bioservices->gseapy) (1.14.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from bioservices->gseapy) (4.2.6)
Requirement already satisfied: easydev>=0.9.36 in /usr/local/lib/python3.7/dist-packages (from bioservices->gseapy) (0.12.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from easydev>=0.9.36->bioservices->gseapy) (4.8.0)
Requirement already satisfied: colorama in /usr/local/lib/python3.7/dist-packages (from easydev>=0.9.36->bioservices->gseapy) (0.4.5)
Requirement already satisfied: gevent in /usr/local/lib/python3.7/dist-packages (from grequests->bioservices->gseapy) (21.12.0)
Requirement already satisfied: zope.event in /usr/local/lib/python3.7/dist-packages (from gevent->grequests->bioservices->gseapy) (4.5.0)
Requirement already satisfied: zope.interface in /usr/local/lib/python3.7/dist-packages (from gevent->grequests->bioservices->gseapy) (5.4.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from gevent->grequests->bioservices->gseapy) (57.4.0)
Requirement already satisfied: greenlet<2.0,>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from gevent->grequests->bioservices->gseapy) (1.1.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gseapy) (1.4.3)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gseapy) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gseapy) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gseapy) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gseapy) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gseapy) (4.33.3)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gseapy) (7.1.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->gseapy) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7->matplotlib->gseapy) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->gseapy) (2022.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->easydev>=0.9.36->bioservices->gseapy) (0.7.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gseapy) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gseapy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->gseapy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gseapy) (2022.6.15)
Requirement already satisfied: url-normalize<2.0,>=1.4 in /usr/local/lib/python3.7/dist-packages (from requests-cache->bioservices->gseapy) (1.4.3)
Requirement already satisfied: cattrs<2.0,>=1.8 in /usr/local/lib/python3.7/dist-packages (from requests-cache->bioservices->gseapy) (1.10.0)
Requirement already satisfied: attrs<22.0,>=21.2 in /usr/local/lib/python3.7/dist-packages (from requests-cache->bioservices->gseapy) (21.4.0)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
!pip install scipy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.21.6)

In [ ]:
import scipy

In [ ]:
from scipy import stats

uploading necessary files

In [ ]:
normal = pd.read_csv('normalx.csv')
tumor = pd.read_csv('tumorx.csv')

In [ ]:
normal.set_index('id',inplace=True)

In [ ]:
tumor.set_index('id',inplace=True)


t test

In [ ]:
t_test = stats.ttest_ind(tumor, normal)

In [ ]:
T_test = pd.DataFrame(t_test)

In [ ]:
T_test = T_test.T

In [ ]:

T_test

              0             1
0      4.734183  6.480373e-06
1     -2.561544  1.174984e-02
2     -0.720118  4.729526e-01
3     -9.478102  5.296461e-16
4     -5.546364  1.970675e-07
...         ...           ...
19643 -4.102303  7.786502e-05
19644 -3.054389  2.818473e-03
19645  0.660001  5.106083e-01
19646  4.914826  3.061484e-06
19647  6.763087  6.424975e-10

[19648 rows x 2 columns]

In [ ]:
t_test

Ttest_indResult(statistic=array([ 4.73418314, -2.56154449, -0.7201178 , ...,  0.6600008 ,
        4.91482649,  6.76308739]), pvalue=array([6.48037322e-06, 1.17498376e-02, 4.72952637e-01, ...,
       5.10608327e-01, 3.06148401e-06, 6.42497510e-10]))

In [ ]:
T_test.columns = ['statistic','pvalue']

In [ ]:
T_test

       statistic        pvalue
0       4.734183  6.480373e-06
1      -2.561544  1.174984e-02
2      -0.720118  4.729526e-01
3      -9.478102  5.296461e-16
4      -5.546364  1.970675e-07
...          ...           ...
19643  -4.102303  7.786502e-05
19644  -3.054389  2.818473e-03
19645   0.660001  5.106083e-01
19646   4.914826  3.061484e-06
19647   6.763087  6.424975e-10

[19648 rows x 2 columns]

In [ ]:
fold_change = pd.read_csv('DGE_foldchange.csv')

In [ ]:
fold_change1 = pd.to_numeric(fold_change.Foldchange, errors='coerce')

In [ ]:
fold_change.drop(columns ='Entrez_Gene_Id',inplace = True)

In [ ]:
fold_change1

Hugo_Symbol
HIST3H2A         2.240054
LIN7B           -0.052076
LXN             -0.321246
CNKSR2          -1.997411
SCML1           -0.416306
                   ...
HAVCR2          -0.846014
RP1-66C13.4     -1.838046
C3orf79          0.978902
CTD-2116N17.1    1.581799
FUT2             3.063778
Name: Foldchange, Length: 19648, dtype: float64

In [ ]:
fold_change.set_index(['Hugo_Symbol'],inplace = True)

In [ ]:
Hugo_Symbol =fold_change['Hugo_Symbol']

In [ ]:
T_test['Hugo_Symbol'] = Hugo_Symbol

In [ ]:
T_test

       statistic        pvalue    Hugo_Symbol
0       4.734183  6.480373e-06       HIST3H2A
1      -2.561544  1.174984e-02          LIN7B
2      -0.720118  4.729526e-01            LXN
3      -9.478102  5.296461e-16         CNKSR2
4      -5.546364  1.970675e-07          SCML1
...          ...           ...            ...
19643  -4.102303  7.786502e-05         HAVCR2
19644  -3.054389  2.818473e-03    RP1-66C13.4
19645   0.660001  5.106083e-01        C3orf79
19646   4.914826  3.061484e-06  CTD-2116N17.1
19647   6.763087  6.424975e-10           FUT2

[19648 rows x 3 columns]

In [ ]:
T_test.set_index('Hugo_Symbol',inplace = True)

creating a dataframe with p value , foldchange and hugo symbol

In [ ]:
df = pd.merge(fold_change1,T_test,left_index=True, right_index=True)

In [ ]:
df

              Foldchange  statistic        pvalue
Hugo_Symbol
A1BG            0.440177   0.891244  3.747091e-01
A1CF            4.371279   1.082927  2.811668e-01
A2M            -2.015299 -14.780525  4.462362e-28
A2ML1           3.900702   1.926630  5.655972e-02
A3GALT2         0.001913  -0.271733  7.863276e-01
...                  ...        ...           ...
ZYX            -0.887870  -8.718790  2.942322e-14
ZZEF1          -0.549009  -6.200281  9.670769e-09
ZZZ3            0.247981   3.946403  1.388280e-04
hsa-mir-1199   -0.375838  -5.966109  2.898845e-08
hsa-mir-150     0.937933   1.120883  2.647353e-01

[19652 rows x 3 columns]

In [ ]:
log2fc = pd.to_numeric(df.Foldchange, errors='coerce')

In [ ]:
df

              Foldchange  statistic        pvalue
Hugo_Symbol
A1BG            0.440177   0.891244  3.747091e-01
A1CF            4.371279   1.082927  2.811668e-01
A2M            -2.015299 -14.780525  4.462362e-28
A2ML1           3.900702   1.926630  5.655972e-02
A3GALT2         0.001913  -0.271733  7.863276e-01
...                  ...        ...           ...
ZYX            -0.887870  -8.718790  2.942322e-14
ZZEF1          -0.549009  -6.200281  9.670769e-09
ZZZ3            0.247981   3.946403  1.388280e-04
hsa-mir-1199   -0.375838  -5.966109  2.898845e-08
hsa-mir-150     0.937933   1.120883  2.647353e-01

[19552 rows x 3 columns]

In [ ]:
df.dropna(inplace = True)

In [ ]:
df.to_csv('df.csv')